.navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
  }
  
  .navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo a{
    color: #ffff;
    font-weight: 900;
    font-size: 25px;
    text-decoration: none;
  }
  
  .navButton{
    margin-left: 20px;
    color: #003580;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }